<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.mapper.BookTypeMapper">
  <resultMap id="BaseResultMap" type="com.book.pojo.BookTypePojo">
    <id column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="type_name" jdbcType="VARCHAR" property="typeName" />
    <result column="create_time" property="createTime" />
  </resultMap>
  <insert id="insert">
    insert into book_type (type_code, type_name,create_time)
    values (#{typeCode},#{typeName},#{createTime})
  </insert>

  <select id="listBookType" resultMap="BaseResultMap">
    select * from book_type
    <where>
      <if test="typeName !=null and typeName !=''"> and type_name like  concat('%',#{typeName},'%')</if>
    </where>
    order by create_time asc
  </select>

  <delete id="deleteType">
    delete from book_type where type_code = #{typeCode}
  </delete>

  <select id="findBookType" resultMap="BaseResultMap">
    select * from  book_type where type_code = #{typeCode}
  </select>

</mapper>